.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-style: bold;
    font-size: 2em;
    color: #fff;
}

.custom-nav .custom-nav-item a{
    color: #fff !important;
}

body {
    padding-bottom: 40px; 
}
 

  .custom-nav-item:hover{
 background-color: #dc3545;
 border: solid #dc3545 1px;
 border-radius: 10px;
  }

  .remove-vid-marg{
    margin: 0px;
    padding: 0px;
  }

.vid-parent{
    position: relative;
}

video{
    width: 100%;
    height: 100%;;
}

.vid-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #225470;
    z-index: 1;
    opacity: 0.8;
}

.vid-content{
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 35%;
    text-align: center;
    color: #fff
}

.bottom-banner{
    color: #fff;
    padding: 10px;
}

a.social-hover:hover{
    padding: 5px 100px;
    text-decoration: none;
    background-color: rgb(95,93,93);
}

.stripe {
    background-image: linear-gradient(240deg, #101111, #d2678c);
    padding: 3rem;
    height: 10rem; 
    min-height: 13rem; 
    margin-top: 4rem;
    transform: rotate(10deg); 
    z-index: -5; 
}

.testimonial-section {
    padding: 2rem; 
    background-color: lightgray
}

.testimonial-section h2 {
    text-align: center; 
    margin-bottom: 2rem; 
    color: #4A90E2; 
}

.testimonial {
    text-align: center; 
    padding: 1rem;
    border: 1px solid #fff; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    background-color: lightcoral;
}

.reviewer-photo {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin-bottom: 1rem;
}

.carousel-inner {
    padding: 1rem 0; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #4A90E2; 
    border-radius: 50%; 
}






































/* css for phone/small screen */
@media screen and (min-width:0px) and (max-width:700px){
    .my-content,
    .txt-banner{
        display: none;
    }

    .vid-content{
        top: 12%;
        left: 60%;
        
    }

    .custom-nav .custom-nav-item a{
        padding: 10px 20px;
        background-color: #225470;
    }

    .custom-nav-item:hover{
        background-color: none;
        border: none;
        border-radius: none;
    }
}